<!DOCTYPE html>
<html
    lang="pt-br"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{baseLayout}">
<body>
<head>
    <link th:href="@{/styles/components/card/Card.css}" rel="stylesheet" />
    <link th:href="@{/styles/pages/index/EventsSection.css}" rel="stylesheet" />
</head>
<section layout:fragment="content" class="container mt-5">
    <h1>Navegue pelos eventos</h1>
    <div class="events-section">
        <div th:each="event : ${events}">
            <div
                th:replace="~{components/card/card :: card(
                    ${event.getName()},
                    ${event.getDescription()},
                    ${event.getEndDate().getDay()},
                    ${event.obtainMonthNameInBrazilian()},
                    ${event.obtainYearFromDateUsingLocalDate()},
                    ${event.getImage()}
                )}"
            ></div>
        </div>
    </div>
</section>
</body>
</html>