<!DOCTYPE html>
<html
    lang="pt-br"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{baseLayout}">
<body>
<div layout:fragment="content" class="container mt-5">
    <h2>Cadastro de evento</h2>

    <form th:action="@{/event/save}" method="post">
        <div class="form-group">
            <label for="name">Nome do evento:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="place">Local:</label>
            <input type="text" class="form-control" id="place" name="place" required>
        </div>

        <div class="form-group">
            <label for="startDate">Data de início:</label>
            <input type="date" class="form-control" id="startDate" name="startDate" required>
        </div>

        <div class="form-group">
            <label for="endDate">Data de fim</label>
            <input type="date" class="form-control" id="endDate" name="endDate" required>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
</body>
</html>
