<!DOCTYPE html>
<html
    lang="pt-br"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{baseLayout}">
<link>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script th:src="@{/js/address/AddressController.js}" type="text/javascript"></script>    
</head>
<body>
    <div layout:fragment="content">
        <div id="event-resume" style="display: flex; align-items: center; flex-direction: column; height: 100%">
            <section id="event-title" style="display: flex; align-items: center; flex-direction: column;">
                <label for="name"></label>
                <h1 id="name" name="name">Nome do Evento</h1>
                <img src="/images/logo-univille.png" alt="Logo" width="200" height="200" class="d-inline-block align-middle">
            </section>
            <section style="width: 50%;">
                <div class="event-content" style="padding: 0; margin: 0.3rem;">
                    <label for="startDate">Data Inicial:</label>
                    <span id="startDate" name="startDate">08/12/2023</span>
                </div>    
                <div class="event-content" style="padding: 0; margin: 0.3rem;">
                    <label for="place">Local:</label>
                    <span id="place" name="place">Univille - Sala 110 - Bloco C</span>
                </div>    
                <div class="event-content" style="padding: 0; margin: 0.3rem;">
                    <label for="description">Descrição:</label>
                    <span id="description" name="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel mollitia quibusdam perferendis quidem quaerat, dolores corporis, magnam perspiciatis, nemo autem minus voluptatem. Dolores libero perspiciatis, quia possimus repudiandae quam nesciunt?</span>
                </div>
                <div class="event-content" style="padding: 0; margin: 0.3rem;">
                    <label for="enrollment">Inscrição:</label>
                    <span id="enrollment" name="enrollment">Link do Sympla</span>
                </div>
            </section>
        </div>
    </div>
</body>
</html>